body {
	background-color: #777777;
	margin: 0;
}
header {
	height: 75px;
	background-color: #000000;
}
.content {
	margin:0px 50px;
	height: 80%;
	background: #ffffff;
}
footer {
	background: #000000;
	height:20%;
	margin: 0px 50px;
}